<h1>Iniciar sesión</h1>
<form>
    <div class="form-floating mb-3">
        <input [(ngModel)]="loginForm.email" type="email" class="form-control" id="floatingInput" placeholder="nombre@ejemplo.com" required name="floatingInput">
        <label for="floatingInput">Dirección de correo electrónico</label>
    </div>
    <div class="form-floating">
        <input [(ngModel)]="loginForm.password" type="password" class="form-control" id="floatingPassword" placeholder="Contraseña" required name="floatingPassword">
        <label for="floatingPassword">Contraseña</label>
    </div>
    <button (click)="handleLoginButton()" id="loginButton" class="btn btn-dark btn-lg">Iniciar sesión</button>
</form>
<div *ngIf="loading" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div *ngIf="requiredInputError" class="alert alert-danger" role="alert">
    Complete todos los campos para continuar.
</div>
<div *ngIf="error" class="alert alert-danger" role="alert">
    {{ error.error.error || "Error en el servidor. Vuelve a intentarlo en unos minutos." }}
</div>
<div *ngIf="logged" class="alert alert-success" role="alert">
    Inicio de sesión exitoso.
</div>
<p>No posee una cuenta? <a href="/auth/register" id="register-link" class="register-link">Registrarse</a></p>